/*------------------------Welcome to my styling place---------------------------------------------------------------*/

*{
  margin: 0;

}
.mynavbar{
  display: flex;
  flex-direction: row;
  background-color: black;
}

